body{

font-family: 'Courier New', Courier, monospace;
font-weight: bold;
color: red;
font-size: large;
background-color: black;


}

h1{
    background-color: aqua;
    color: blueviolet;
    display: flex;
    justify-content: center;
    
}

li{
    list-style: square;
}